version: '3.8'

services:
  app:
    image: ${IMAGE_NAME:-ghcr.io/${GITHUB_REPOSITORY:-}:latest}
    environment:
      - NODE_ENV=production
      - PORT=3000
      - DEPLOYMENT_TIMESTAMP=${DEPLOYMENT_TIMESTAMP:-}
    restart: unless-stopped
    networks:
      - app-network

  caddy:
    image: caddy:2-alpine
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./Caddyfile.prod:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
      - './Caddyfile:/etc/caddy/Caddyfile:ro'
      - 'www:/var/www/goaccess/:ro'
      - 'log:/var/log/caddy/'
    environment:
      - DOMAIN=${DOMAIN}
      - PORT=${PORT}
    depends_on:
      - app
    restart: unless-stopped
    networks:
      - app-network

  goaccess:
    image: allinurl/goaccess:latest
    ports:
      - '8080:8080'
    volumes:
      - './goaccess.conf:/etc/goaccess/goaccess.conf:ro'
      - 'www:/var/www/goaccess/'
      - 'log:/var/log/caddy/:ro'
    depends_on:
      - caddy
    restart: unless-stopped
    networks:
      - app-network

volumes:
  caddy_data:
  caddy_config:

networks:
  app-network:
    driver: bridge
